*{
    box-sizing: border-box;
}
.header,.burger-menu{
    display: flex;
}

.header {
    background-color: #eef3ee;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 65px 10px 20px;

}

.logo, .burger-menu {
    max-height: 50px;
}

.burger-menu{
    font-size: 3.5rem;
    align-items: center;
}