*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,p,.btn, .ph-table{
    color: white;
    font-family: Tinos;
}
h1{
    font-size: 24px;
    margin-bottom: 10px;
}
p{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 10px;
}
.content{
    padding: calc(135px + 30px) 5vw 70px;
    background-color: #4CAF50;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.home-img{
    max-width: 90vw;
    border-radius: 5px;
    margin-bottom: 30px;
}

.btn{
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-align: center;
    padding: 20px 30px;
    background-color: white;
    border-radius: 20px;
    width: 60vw;
    margin-bottom: 10px;
    transition: all 0.2s;
}

.btn:hover {
    background-color: #eee;
}

.ph-table {
    width: 100%;
}

td {
    padding-bottom: 10px;
}

td:first-child{
    text-align: left;
}

td:last-child{
    text-align: right;
}