*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,p,.btn, table, form, .content-ul{
    color: white;
    font-family: Tinos;
}
h1{
    font-size: 24px;
    margin-bottom: 10px;
}
p, .content-ul, table{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 10px;
}
.content{
    padding: calc(135px + 30px) 5vw 70px;
    background-color: #4CAF50;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.content-img{
    max-width: 90vw;
    border-radius: 5px;
    margin-bottom: 30px;
}

.btn{
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-align: center;
    padding: 20px 30px;
    background-color: white;
    border-radius: 20px;
    width: 60vw;
    max-width: 400px;
    margin-bottom: 10px;
    transition: all 0.2s;
}

.btn:hover {
    background-color: #eee;
}

table {
    width: 100%;
}

td {
    padding-bottom: 10px;
}

td:first-child{
    text-align: left;
}

td:last-child{
    text-align: right;
}

form {
    width: 90vw;
    max-width: 600px;
}
.form-div{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-div input{
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.flex-row{
    flex-direction: row;
}

.form-submit{
    padding: 10px;
    border-radius: 10px;
    width: 60%;
}

@media screen and (min-width:1000px) {

}